#container {
    width: 80%; /* Establece el ancho del contenedor en un 80% */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}

h1  {
    
    background-color: #000000; /* Establece el color de fondo */
    color: #ececec; /* Establece el color del texto */
    height: 50px;
    width: 1150ppx;}
    span {
        color:      #00FFFF;
        font-style: inherit;
        
    }

    h2  {
        background-color: #663399; /* Establece el color de fondo */
        color: #e4e0eb; /* Establece el color del texto */
        height: 50px;
    width:1150ppx;
    text-align: center; 
    font-style: normal;}
        
        h3 {
            background-color: #9fc5f8; /* Establece el color de fondo */
            color: #2e38c5; /* Establece el color del texto */
            height: 50px;
    width: 1150px;
    text-decoration-line: underline;
    text-align: right;
    
}